/*
 * blueprint css
 */

 body {
 	background-image: url(../img/_kette.jpg);
 	background-repeat: no-repeat;
 	background-position: center 0px;
 	background-color: rgb(116,170,231);
 	margin-left: 20%;
 	margin-right: 20%;
 	font-family: Helvetica, Arial, sans-serif;
 }

 @media(max-width:767px) {
 	body {
 		margin-left: 3%;
 		margin-right: 3%;
 	}


 	.burger-menu {
		z-index: 99;
 		position: absolute;
 		right: 1%;
 		top: 3%;
 		background-color: rgba(0, 0, 0, 0.6);
 		padding: 4px 12px 2px 12px;
 		width: 23px;
		-webkit-border-radius: 10px;
 		-moz-border-radius: 10px;
 		border-radius: 10px;
 	}

 	.burger-menu span {
 		display: block;
 		width: 23px;
 		height: 4px;
 		margin: 3px 0px;
 		background: orange;
 		-webkit-border-radius: 3px;
 		-moz-border-radius: 3px;
 		border-radius: 3px;
 	}

 	.responsive-menu {
 		text-align: right;
 		position: absolute;
 		z-index: 99;
 		right: 1%;
 		top: 60px;
 	}

 	.menu input[type=checkbox]:checked ~ .responsive-menu {
 		display: block;
 		position: absolute;
 		max-width: 130px;
 		transition-property: all;
 		transition-duration: .5s;
 		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
 	}

 	.menu input[type=checkbox]:not(:checked) ~ .responsive-menu {
 		display: block;
 		overflow-y: hidden;
 		background-color: black;
 		max-width: 0px;
 		max-height: 0px;
 		transition-property: all;
 		transition-duration: .5s;
 		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
 	}
 }


 a, a:visited,a:link  {
 	color: black;
 	opacity: 1;
 }


 .content {
 	background-color: rgb(116,170,231);	
 	opacity:0.7;
 	padding: 3%;
 	margin-top: 10px;
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	border-radius: 20px;
 }

 .responsive-menu {
 	display: table;
 	width: 100%;
 	table-layout: fixed;    /* For cells of equal size */
 }

 .responsive-menu a,
 .responsive-menu a:visited,
 .responsive-menu a:link  {
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	border-radius: 20px;
 	border: solid 1px rgba(120, 90, 60, 0.6);
 	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
 	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
 	background: rgba(0, 0, 0, 0.6);
 	color: orange;
 	padding: 4px 12px 2px 12px;
 	text-decoration: none;
 	line-height: 28px;
 }

 .responsive-menu a:hover {
 	background: rgba(0, 0, 0, 0.4);
 }

 .responsive-menu span:first-child {
 	text-align: left;
 }

 .responsive-menu span:last-child {
 	text-align: right;
 }


 .menu {
 }

 .menu input {
 	display: none;
 }



 .responsive-menu.closed {
 	max-height: 0;
 	background-color: blue;
 }


 .big {
 	font-size: 100px;
 }
 @media(max-width:767px) {
 	.big {
 		font-size: 80px;
 	}
 }
 @media(max-width:400px) {
 	.big {
 		font-size: 50px;
 	}
 }

 .profile img {
 	width: 100%;
 }

 .profile {
 	text-align: center;
 	opacity: 1;
 }

 .profile .mission  {
 	width: 80%;
 	font-size: 23px;
 	margin: auto;
 }

 .profile table  {
 	text-align: left;
 	vertical-align: top;
 }
 .profile table  img{
 	width:140px;
 }
 @media(max-width:400px) {
 	.profile table  img {
 		width: 80px;
 	}
 }


 .profile table td {
 	text-align: left;
 	background: rgba(256,256,256,0.5);
 	vertical-align: top;
 }

 .profile table  td:first-child {
 	text-align: left;
 	background: rgba(256,256,256,0.3);
 	vertical-align: top;
 }

 .reference img{
 	height: 70px;
 }

 .footer {
 	position: relative;
 	bottom: 0px;
 	right: 0%;
 	text-align: right;
 	opacity: 0.3;
 }

 @media print {
 	.printpagebreak {page-break-before:always;}
 	.printfrontpage {font-size: 23px; width: 90%;}
 }

