{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
	{{ partial "navi.html" . }}
	<div class="content container">
		<ul class="miniprofile">
			{{ range .Data.Pages }}
			<li>
				<div class="profileimage">
					<span>{{.Params.name}}</span>
					<a href="{{ .Permalink }}">
						<img src="{{ .Site.BaseURL }}{{.Params.profileimage}}">
					</a>
				</div>
				<div class="profiledetails">
					<div>"{{ .Params.mission | markdownify }}"</div>
					{{ range .Params.linklist }}
					<a href="{{ .link }}">{{ .description }}</a>
					{{ end }}
				</div>
			</li>
			{{ end }}
		</ul>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>